<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h2>Nuevo Producto</h2>
    <a href='/productos'>Consultar Productos</a>
    <form action="/productos" method="POST">
        Nombre: <input type="text" name="title">
        Precio: <input type="text" name="price">
        Foto URL: <input type="text" name="thumbnail">
        <button>Enviar</button>
    </form>
</div>