extends layout

block partial
    body
        a(href="/productos") Consultar productos
        h2='Nuevo Producto'
        form(action="/productos" method="POST")
            label(for="title") Title
            input(id="title" type="text" name="title")
            label(for="price") Precio
            input(id="price" type="text" name="price") 
            label(for="thumbnail") Thumbnail
            input(id="thumbnail" type="text" name="thumbnail")
            button(type="submit") Enviar
            
