extends layout

block partial
    h1 Vista de Productos
    a(href="/agregar") Agregar productos
    if hasProductos 
        div(class="table-responsive")
            table(class="table table-dark")
                tr 
                    th id 
                    th Nombre 
                    th Precio 
                    th Foto
                    each prod in productos
                        tr
                            td=prod.id   
                            td=prod.title
                            td=prod.price
                            td
                                img(width="50" src=prod.thumbnail alt="not found")              
    else
        h3(class="alert alert-warning") No se encontraron productos

