
<%- include('header')%>
<div class="jumbotron">
    <li><a href="/productos">Consulta de productos</a></li>
    <h2>Nuevo Producto</h2>
    <form action="/productos" method="POST">
        Nombre: <input type="text" name="title">
        Precio: <input type="text" name="price">
        Foto URL: <input type="text" name="thumbnail">
        <button>Enviar</button>
    </form>
</div>
<%- include('footer')%>