
<%- include('header')%>
<div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>
    <li><a href="/agregar">Agregar productos</a></li>
    <% if(hasProductos){ %>
        <div class="table-responsive">
            <table class="table table-dark">
                <tr> <th>id</th> <th>Nombre</th> <th>Precio</th> <th>Foto</th></tr>
                <% productos.forEach( prod => {%>
                    <tr> <td><%=prod.id%></td> <td><%=prod.title%></td> <td><%=prod.price%></td> <td><img width="50" src=<%=prod.thumbnail%> alt="not found"></td> </tr>
                <%});%>
            </table>
        </div>
    <%}else{%>
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    <%}%>
</div>
<%- include('footer')%>